Redirect 301 /tests/deedscraper/301.html http://creativecommons.org
Redirect 302 /tests/deedscraper/302.html https://creativecommons.net
Redirect 301 /tests/deedscraper/profile_redirect.html /tests/deedscraper/profile.html